/* App.css */

@font-face {
  font-family: 'CustomFont';
  src: url('./inter.ttf') format('truetype');
}

body {
  font-family: 'CustomFont';
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

header {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  padding: 20px;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 0px;
  font-size: xxx-large;
  margin-top: 50px;
}

header p {
  font-size: 20px;
  margin-top: 10px;
  font-weight: 500;
}

.description-topic {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 27px;
  font-size: 1.5rem;
}

.rainbow-text {
  background: linear-gradient(to left, #f8d3f5, #e3b4ef, #ce96e8, #b978e2, #a55bdc);




  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  display: inline-block;
}

.example-image {
  width: 400px;
  height: auto;
  border-radius: 5%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.example-image:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 50px;
  gap: 10rem;
  justify-content: center;
}

.themescard {
  background-image: url('../assets/Images/sample2.jpg');
}

.fontscard {
  background-image: url('../assets/Images/sample.jpg');
}

.themescard,
.fontscard {
  position: relative;
  /* Make sure the ::before pseudo-element is positioned relative to the card */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 300px;
  font-size: 1.6rem;
  padding: 20px;
  margin-bottom: 20px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  border-radius: 10px;
  border: 1.5px solid rgba(0, 0, 0, 0.2);
  cursor: pointer;
  text-decoration: none;
}

.themescard::before,
.fontscard::before {
  content: "";
  /* Required for the pseudo-element */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.6);
  /* Adjust the opacity here */
  border-radius: 10px;
}

.card-link {
  /* Make the anchor tags invisible */
  color: transparent;
  text-decoration: none;
  /* Remove underline */
  cursor: pointer;
  /* Show cursor as pointer on hover */
}


.themescard:hover,
.fontscard:hover {
  transform: scale(1.1);
}

.themescard h2,
.fontscard h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  color: #000000;
  position: relative;
  z-index: 1;
}

.description-text {
  font-size: 1.2rem;
  /* Set the font size */
  font-weight: 500;
  color: #555;
  /* Set the text color */
  text-align: center;
  /* Center align the text */
  margin-top: 10px;
  /* Add some top margin for spacing */
}

.download-cards {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.card {
  width: 350px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  margin-bottom: 30px;
  /* Decrease the space between cards */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* Center items horizontally */
}

.card:hover {
  transform: translateY(-5px);
}

.card-icon {
  font-size: 4em;
  margin: 20px auto;
  display: block;
  color: #000000;
}

.card-body {
  text-align: center;
  padding: 20px;
}

.card-title {
  font-size: 1.5rem;
  margin-bottom: .75rem;
}

.download-link {
  text-decoration: none;
  color: #007bff;
  font-weight: bold;
  display: block;
  margin-top: 15px;
}

.download-link:hover {
  text-decoration: underline;
}

.about {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  min-height: 120vh;

}

.about h3 {
  margin-bottom: 1rem;
  margin-top: 0;
  font-size: 1.7rem;
}

.aboutp {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.aboutp p {
  margin: 0 90px 0 0;
  font-size: 16px;
  padding: 0;
  line-height: 30px;
  text-align: justify;

}

.aboutp .themeimg {
  width: 42rem;
  height: auto;
  margin: 0 20px 0 60px
}

.supported-apps {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.apps-list {
  padding: 0;
}

.apps-list li {
  color: #000000;
  text-align: center;
  font-size: large;
  list-style-type: none;
  text-decoration: none;
}
