/* App.css */

@font-face {
  font-family: 'CustomFont';
  src: url('./inter.ttf') format('truetype'); /* adjust the path and format based on your font file */
}

body {
  font-family: 'CustomFont'; /* Use the custom font */
  margin: 0;
  padding: 0;
  background-color: #f8f9fa;
}

header {
  background-color: #000000;
  color: white;
  padding: 20px;
  text-align: center;
  padding-top: 50px; /* Add padding to the top of the header */
  padding-bottom: 50px; /* Add padding to the bottom of the header */
  font-size: x-large; /* Increase font size for the header */
}

header p {
  font-size: 16px; /* Set font size for the description */
  margin-top: 10px; /* Add margin to the top of the description */
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px; /* Add padding to the container */
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  width: 300px;
  padding: 20px;
  margin-bottom: 20px; /* Add margin between cards */
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.card:hover {
  transform: scale(1.1); 
}

.card h3 {
  margin-top: 0;
  margin-bottom: 10px;
  color: #000000;
}

.card p {
  margin-bottom: 15px;
  color: #000000;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px; /* Add gap between cards */
}

.products:nth-child(odd) .card {
  background-color: #f9f9f9;
}

.example-image {
  width: 500px; 
  height: auto; 
  border-radius: 5%; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  transition: transform 0.3s ease; 
  padding-top: 30px; /* Add padding to the top of the image */
}

.example-image:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.downloadBtn {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.downloadBtn:hover {
  background-color: #0056b3;
}

